*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding:0rem;
}
header{
    display:flex;
    background-color: rgb(33, 28, 28);
    margin-top: 20px;
    position:relative;
    background-size: cover;
    position:fixed;
    width: 100%;
    flex-wrap:wrap;
    display: trasnsparent;
}


.logo{
    margin-top: 40px;
    margin-left: 30px;
    color: rgb(255, 7, 7);
    display: inline-flex;
    
}
.main{
    background: linear-gradient(rgb(0, 0, 0),rgb(9, 9, 9),rgb(27, 33, 45)) ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: auto;  
}
ul{
    justify-content: left;
    margin-left: 100px;   
}
ul li { 
   display: inline;
   margin-left: 104px;
   margin-top: 30px;
   font-weight: bold;
   font-family: 'Times New Roman';
   font-size: 130%;
  
}
ul li a{
    color: white;
    text-decoration: none;
    transition:0.2s ease-in-out;
    list-style:none;
    text-shadow:0px 1px rgb(255, 34, 0) ;
}

ul li a:hover{
    color: rgb(250, 40, 2);
}
.stl{
    /*myself content*/
    color:rgb(234, 203, 162);
    background: linear-gradient(rgb(35, 52, 77),rgb(43, 62, 98),rgb(27, 25, 25));
    margin-top:-195px;
    font-size: 25px;
    padding-top: 130px;
    padding-bottom: 150px;
    padding-left: 50px;
    text-indent: 50px; 
    height: 100%; 
} 
p{
    color: white;
    margin-top: 15px;
    margin-left: 40px;
    padding-right: 60%;
    text-align: left;
}
img{
    margin-left: 200px;
    margin-top:10px;
    height: 50%;
}

.sur{
    height: 80%;
    color:white;
    padding-left: 60px;
    padding-bottom: 130px;
    font-size:70px;
    margin-top: 200px;
    display: inline-flex;
    flex-wrap:wrap;
}
#sur{
    color: rgb(251, 247, 247);
    padding-top: 80px;
}
ion-icon{
    font-size: 100%;
}
.project{
    /*project*/
    background:linear-gradient(rgb(35, 52, 77),rgb(43, 62, 98),rgb(27, 25, 25));
    color: rgb(66, 91, 216);
    margin-top: 00px;
    height: 200%;
    padding-top: 120px;
    font-size: 50px;
    padding-left: 40px;
}
.projectimg{
   
    color: white;
    height: 500px;
    width: 300px;
    padding-left:100px;
   flex-wrap: wrap;  
   margin-top: -100px;
}
.land {
    height: 100%;
    width: 800px;
    padding-right: 100px;
    margin-left: -100px;
    margin-top: 100px;
    flex-wrap: wrap;
    display: flex;
    
}
.todo{
    height: 100%;
    width: 800px;
    padding-right: 100px;
    margin-left: -100px;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}
.para{
    margin-left:60%;
    margin-top:-32%;
    color: black;
    font-size: 28px;
    width: 40%;
    height: 100px;
    display: flex;
    text-align: justify;
}
.para2{
    margin-left:60%;
    margin-top:35%;
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: justify;
}
@media screen and (max-width: 500px) {
    .smain a {
      float: none;
      display: block;
    }
    .projectimg{
        display: block;
        float:none
    }
}
.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content{
    color:white;
    padding: 0px 80px  ;
    display: none;
    position:absolute;
}
.dropdown-content a:hover{background-color: black ;}
.dropdown:hover .dropdown-content {display: block;}
